.address-section__wrapper {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 146px;

  @include vp--1023 {
    width: 768px;
    padding-top: 65px;
  }

  @include vp--767 {
    width: 320px;
  }
}

.address-section__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-nero;
  text-align: center;
  margin: 0 0 15px 0;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 23px 0;
  }

  @include vp--767 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
}

.address-section__content {
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  width: 555px;
  margin-bottom: 40px;
  letter-spacing: 0.3px;

  @include vp--1023 {
    color: $color-opacity-07-black;
    width: 100%;
    margin: 0 0 20px 0;
    letter-spacing: 0.4px;
  }

  @include vp--767 {
    width: 100%;
    padding: 0 29px;
    letter-spacing: 0.6px;
  }
}

.address-section__map {
  width: 957px;
  margin: 0 auto;

  @include vp--1023 {
    width: 698px;
  }

  @include vp--767 {
    width: 100%;
    height: 250px;
  }
}

.address-section__map img {
  @include vp--767 {
    height: 250px;
    background-color: $color-white-smoke;
    object-fit: cover;
  }
}
