.address-section__wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 105px;

  @include vp--1023 {
    width: 768px;
    margin-top: 100px;
  }

  @include vp--767 {
    width: 320px;
  }
}

.address-section h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-nero;
  text-align: center;
  margin-bottom: 10px;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
  }
}

.address-section p {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  width: 555px;
  margin-bottom: 40px;

  @include vp--1023 {
    font-size: 17px;
    line-height: 31px;
    color: $color-opacity-07-black;
    width: 629px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  @include vp--767 {
    width: 100%;
    padding: 0 31px;
  }
}
