.address-section__wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp--1023 {
    width: 768px;
  }

  @include vp--767 {
    width: 320px;
  }
}

.address-section__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-nero;
  text-align: center;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.address-section__content {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  width: 555px;

  @include vp--1023 {
    font-size: 17px;
    line-height: 31px;
    color: $color-opacity-07-black;
    width: 629px;
  }

  @include vp--767 {
    width: 100%;
    padding: 0 31px;
  }
}
