.bikes-section {
  background-color: $color-alice-blue;
}

.bikes-section__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 144px 0 106px 0;

  @include vp--1023 {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 0 27px 0;
  }

  @include vp--767 {
    width: 320px;
    padding: 50px 0 29px 0;
  }
}

.bikes-section h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-nero;
  margin: 0;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    margin-top: 0;
  }
}
