.bikes-section {
  background-color: $color-alice-blue;
}

.bikes-section__wrapper {
  width: 1220px;
  margin: 0 auto;
}

.bikes-section__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-nero;
}
