.bikes-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, max-content));
  margin: 0;
  grid-gap: 50px;
  justify-content: center;
  width: 100%;
  padding: 48px 120px 20px 120px;

  @include vp--1023 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 85px;
    row-gap: 48px;
  }

  @include vp--767 {
    padding: 29px 20px 0 17px;
    row-gap: 40px;
  }
}
