.bike-item {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-left: 50px;


  @include vp--1023 {
    width: 337px;
  }

  @include vp--767 {
    width: 320px;
    padding: 0 25px;
  }

  &:nth-child(1n):before {
    content: "";
    background-image: url("../../img/desktop-round-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 146px;
    left: 0;
    z-index: -1;

    @include vp--767 {
      width: 127px;
      height: 127px;
      top: 204px;
      left: 0px;
    }
  }
}

.bike-item:nth-child(2n) {
  padding-top: 30px;
  padding-left: 25px;

  &::before {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../../img/desktop-square-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 25px;

    @include vp--1023 {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../../img/desktop-square-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 80px;
    right: 0;


    @include vp--1023 {
      display: none;
    }
  }
}

.bike-item:nth-child(3n) {
  padding-left: 24px;

  &::before {
    content: "";
    background-image: url("../../img/desktop-round-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95px;
    height: 95px;
    position: absolute;
    top: -41px;
    left: 81%;
    z-index: 1;

    @include vp--767 {
      width: 68px;
      height: 68px;
      top: 30px;
      left: 80%;
    }
  }
}


.bike-item h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin-top: 18px;
}

.bike-item:nth-child(3n) h4 {
  margin-top: 10px;
}

.bike-item img {
  border-radius: 10px;
}
