.facts-section {
  min-height: 565px;
  display: flex;
  align-items: center;
}

.facts-section__wrapper {
  width: 1160px;
  margin: 0 auto;

  @include vp--1023 {
    width: 767px;
  }
}

.facts-section__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
