.facts-section {
  min-height: 504px;
  display: flex;
  align-items: center;

  @include vp--1023 {
    align-items: flex-start;
    min-height: 476px;
  }
}

.facts-section__wrapper {
  width: 1160px;
  margin: 0 auto;

  @include vp--1023 {
    width: 768px;
    margin: 43px auto;
  }

  @include vp--767 {
    width: 320px;
    margin: 43px auto 55px;
  }
}

.facts-section h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 7px 0px 28px;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    margin: 7px 0 7px;
  }

  @include vp--767 {
    margin: 9px 0 19px;
  }
}
