.facts-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1185px;

  @include vp--1023 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 25px;
    padding: 0 100px;
    max-width: 768px;
  }

  @include vp--767 {
    grid-template-columns: 1fr;
    grid-row-gap: 19px;
    padding: 0;
  }
}
