.feedback-form {
  display: flex;
  flex-direction: column;

  @include vp--767 {
    align-items: center;
  }
}

.feedback-form__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $color-default-white;
  text-align: center;
  margin: 0;

  @include vp--1023 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $color-default-black;
  }

  @include vp--767 {
    padding: 10px;
  }
}

.feedback-form__input {
  width: 327px;
  padding: 10px 10px 14px 29px;
  border: 1px solid $color-link-water;
  border-radius: 6px;
  margin-top: 20px;

  @include vp--767 {
    width: 288px;
  }
}

.feedback-form__button {
  width: 327px;
  background-color: $color-robins-egg-blue;
  color: $color-default-black;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  padding: 10px 47px;
  border: none;
  border-radius: 6px;
  margin-top: 30px;

  @include vp--767 {
    width: 288px;
    padding: 10px 28px;
  }
}
