.header {
  @media (min-width: $desktop-width) {
    background-image: url("../../img/desktop-bike-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    min-height: 825px;
  }
}
