.intro {
  background-image: url("../img/desktop-bike-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $color-bunker;
  background-size: 100% 825px;

  @include retina {
    background-image: url("../img/desktop-bike-background@2x.jpg");
  }

  @include vp--1023 {
    background-image: none;
    background-color: transparent;
  }
}
