.links {
  width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 36px 95px 35px 159px;
  grid-column-gap: 92px;
  grid-row-gap: 30px;

  @include vp--1023 {
    width: 768px;
    padding: 17px 72px 27px 105px;
  }

  @include vp--767 {
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 5px 26px;
    align-items: center;
    grid-row-gap: 24px;
  }
}

.links__link {
  color: $color-opacity-05-black;
  display: flex;
  transition: color $transition-base;

  @include vp--767 {
    align-items: center;
  }

  &:hover {
    color: $color-robins-egg-blue;
    transition: color $transition-base;
  }

  &:active {
    color: $color-nero;
    transition: none;
  }
}

.links__link--phone {
  @include vp--767 {
    align-self: flex-start;
    padding-left: 33px;
  }
}

.links__link svg {
  margin-right: 14px;
}
