.main-menu {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;

  @include vp--1023 {
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    background-color: $color-default-white;
    padding: 0;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
  }
}

.active .main-menu {
  position: static;

  @include vp--1023 {
    overflow-y: scroll;
  }
}

.active .main-menu--closed {
  @include vp--1023 {
    display: none;
  }
}

.active .main-menu--opened {
  @include vp--1023 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
    height: 100vh;
  }
}

.main-menu__item {
  cursor: pointer;

  @include vp--1023 {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    background-color: $color-white-smoke;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.main-menu__link {
  color: inherit;
  transition: $transition-05-color;

  @include vp--1023 {
    padding: 14px 0;
    color: $color-tuna;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    color: $color-default-white;
    transition: $transition-05-color;

    @include vp--1023 {
      color: $color-default-black;
      text-decoration: underline;
    }
  }

  &:active {
    color: $color-robins-egg-blue;
  }
}

.main-menu__link svg {
  display: none;

  @include vp--1023 {
    display: block;
    transition: $transition-rotate-and-stroke-color;
  }

  &:hover {
    transition: $transition-rotate-and-stroke-color;
    transform: rotate(90deg);
    stroke: $color-default-black;
  }
}
