.main-menu {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;

  @include vp--1023 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    background-color: $color-default-white;
    padding: 0;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y:scroll;
  }
}

.main-menu--closed {
  @include vp--1023 {
    display: none;
  }
}

.main-menu--opened {
  top: 0;
  left: 0;
  height: 100vh;
}

.main-menu li {
  cursor: pointer;

  @include vp--1023 {
    background-color: $color-white-smoke;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.main-menu__item a {
  color: inherit;

  @include vp--1023 {
    color: $color-tuna;
  }

  &:hover {
    color: $color-default-white;
  }

  &:active {
    color: $color-robins-egg-blue;
  }
}
