.main-menu {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;

  @include vp--1023 {
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    background-color: $color-default-white;
    padding: 0;
    width: 100%;
    z-index: 1;
  }
}

.main-menu--nojs {
  position: static;
}

.main-menu--closed {
  @include vp--1023 {
    display: none;
  }
}

.main-menu--opened {
  @include vp--1023 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
    height: 100vh;
  }
}

.main-menu__item {
  cursor: pointer;

  @include vp--1023 {
    background-color: $color-white-smoke;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.main-menu__link {
  color: inherit;

  @include vp--1023 {
    display: block;
    padding: 14px 0;
    color: $color-tuna;
  }

  &:hover {
    color: $color-default-white;

    @include vp--1023 {
      color: $color-default-black;
      text-decoration: underline;
    }
  }

  &:active {
    color: $color-robins-egg-blue;
  }
}
