.nav {
  width: 880px;
  margin: 0 auto;
  padding: 20px 13px 10px 13px;
  color: $color-opacity-07-white;
  border-bottom: 1px solid $color-opacity-02-white;
  position: relative;

  @include vp--1023 {
    width: 767px;
    padding: 0;
    border: none;
  }

  @include vp--767 {
    width: 320px;
  }
}

.nav__logo {
  display: none;

  @include vp--1023 {
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    width: 768px;
    margin: 0 auto;

    @include vp--767 {
      width: 320px;
      padding-left: 0;
    }
  }
}

.nav__logo a {
  @include vp--1023 {
    align-self: flex-end;
  }

  @include vp--767 {
    padding-left: 17px;
  }
}

.nav__button {
  display: none;

  @include vp--1023 {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color-robins-egg-blue;
    border: none;
    position: relative;
  }

  &::before {
    content: "";
    width: 23px;
    height: 1px;
    background: $color-default-black;
    position: absolute;
    top: 25px;
    left: 14px;
    box-shadow: 0 5px 0 0, 0 -5px 0 0;
  }
}
