.nav {
  width: 880px;
  margin: 0 auto;
  padding: 15px 5px;
  color: $color-opacity-07-white;
  border-bottom: 1px solid $color-opacity-02-white;

  @include vp--1023 {
    width: 767px;
    padding: 0;
    border: none;
  }

  @include vp--767 {
    width: 320px;
  }
}

.nav__logo {
  display: none;

  @include vp--1023 {
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    width: 768px;
    margin: 0 auto;

    @include vp--767 {
      width: 320px;
    }
  }
}

.nav__button {
  display: none;

  @include vp--1023 {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color-robins-egg-blue;
    border: none;
  }
}
