.nav {
width: 880px;
margin: 0 auto;
padding: 15px 5px;
color: $color-opacity-07-white;

  @media (min-width: $tablet-width) {
    @include tablet-content-width;
  }
}

.nav__list {
  list-style: none;
}
