.page__header {
  background-image: url("../img/desktop-bike-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  min-height: 825px;
  display: flex;
  flex-direction: column;

  @include retina {
    background-image: url("../img/desktop-bike-background@2x.jpg");
    width: 50%;
  }

  @include vp--1023 {
    min-height: 340px;
    background-image: url("../img/tablet-bike-background.jpg");
    background-position: top center;
    background-color: transparent;

    @include retina {
      background-image: url("../img/tablet-bike-background@2x.jpg");
      width: 50%;
    }
  }

  @include vp--767 {
    min-height: 390px;
    background-image: url("../img/mobile-bike-background.jpg");


    @include retina {
      background-image: url("../img/mobile-bike-background@2x.jpg");
      width: 50%;
    }
  }
}

.page__footer {
  min-height: 160px;
}
