.text-block {
  width: 400px;
  padding: 10px 0;

  @include vp--1023 {
    width: 100%;
    margin-bottom: 72px;
    text-align: center;
    background-image: url("../img/tablet-bike-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $color-nero;
    padding: 100px 0;
  }

  @include vp--767 {
    width: 320px;
  }
}

.text-block h2 {
  color: $color-default-white;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  margin: 0;
  padding: 66px 3px 6px;
  position: relative;
  letter-spacing: 1px;

  @include vp--1023 {
    padding: 55px 10px 6px;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
  }

  @include vp--767 {
    padding: 41px 10px 6px;
  }
}

.text-block p {
  color: $color-opacity-08-white;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0;

  @include vp--1023 {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 0 30px;
    margin-top: 15px;
  }

  @include vp--767 {
    padding: 10px;
    margin-top: 5px;
  }
}

.text-block a {
  cursor: pointer;

  @include vp--1023 {
    display: none;
  }
}
