.video-section {
  background-image: $gradient-black-to-white;
  display: flex;
  min-height: 803px;
  justify-content: center;


  @include vp--1023 {
    align-items: flex-start;
    min-height: 468px;
  }

  @include vp--767 {
    min-height: 437px;
  }
}

.video-section__wrapper {
  width: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 93px;

  @include vp--1023 {
    width: 768px;
    margin-top: 38px;
  }

  @include vp--767 {
    width: 320px;
    margin-top: 55px;
  }
}

.video-section h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-default-white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.video-section p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $color-opacity-07-white;
  width: 340px;

  @include vp--1023 {
    width: 430px;
    margin-top: 20px;
  }

  @include vp--767 {
    width: 300px;
    margin-bottom: 24px;
  }
}

.video-section__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  @include vp--1023 {
    margin-top: 27px;
  }
}

.video-section__item button {
  width: 65px;
  height: 65px;
  background-color: $color-robins-egg-blue;
  border-radius: 50%;
  border: none;
  margin-top: -296px;

  @include vp--1023{
    margin-top: -190px;
    width: 90px;
    height: 90px;
  }

  @include vp--767 {
    margin-top: -118px;
    width: 65px;
    height: 65px;
  }
}
