.video-section {
  background-image: $gradient-black-to-white;
  display: flex;
  justify-content: center;


  @include vp--1023 {
    align-items: flex-start;
    background-image: $gradient-black-to-white-tablet;
  }

  @include vp--767 {
    background-image: $gradient-black-to-white;
  }
}

.video-section__wrapper {
  width: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 121px;

  @include vp--1023 {
    width: 768px;
    padding-top: 71px;
  }

  @include vp--767 {
    width: 320px;
    padding-top: 83px;
  }
}

.video-section__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-default-white;
  text-align: center;
  margin: 0 0 20px 0;

  @include vp--1023 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.video-section__content {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $color-opacity-07-white;
  width: 340px;
  margin: 0 0 54px 0;

  @include vp--1023 {
    width: 430px;
    margin: 0 0 39px 0;
  }

  @include vp--767 {
    width: 300px;
    margin: 0 0 54px 0;
  }
}

.video-section__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp--1023 {
    margin: 0;
  }
}

.video-section__item img {
  @include vp--1023 {
    width: 503px;
    height: 282px;
  }

  @include vp--767 {
    width: 288px;
    height: 161px;
  }
}

.video-section__item button {
  width: 65px;
  height: 65px;
  background-color: $color-robins-egg-blue;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @include vp--1023 {
    width: 90px;
    height: 90px;
  }

  @include vp--767 {
    width: 65px;
    height: 65px;
  }

  &:hover {
    box-shadow: 0 0 3px 5px $color-opacity-02-white;
    transition: $transition-05-all;
  }

  &:active {
    box-shadow: none;
  }
}

.video-section__item svg {
  @include vp--1023 {
    width: 18px;
    height: 30px;
    transform: translate(4px, 0);
  }

  @include vp--767 {
    width: 13px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
