// viewports

$tablet-width: 767px;
$desktop-width: 1023px;

// colors

// Default

$color-default-white: #ffffff;

// Base

$color-opacity-07-white: rgba(255, 255, 255, 0.7);
$color-opacity-08-white: rgba(255, 255, 255, 0.8);


// Typography

$font-family-open-sans: 'Open Sans', 'Arial', sans-serif;
